<div class="container">
<div class="row">
<div class="col-md-3">
<h1>User info</h1>


<%= render 'books/list', post_images: @book %>

</div>

<div class="col-md-8 offset-md-1">
  <div class= "users-container">

    <h1>Users</h1>

    <table class="table table-striped">
     <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <% @users.each do |user|%>
    <tbody>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg"  %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user_path(user.id)%></td>
      </tr>
    </tbody>
    <% end %>
    </table>

  </div>
</div>
</div>
</div>